#primary {
    padding-block: 14px;
    
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }
}

#secondary {
    padding-block: 14px;
    border: solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}


@media (width <= 63rem) {
    #primary {
        strong {
            display: none;
        }
    }

    #secondary {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        margin: 0;
        display: flex;
        gap: 2rem;
    }
}